*-checkpoint.ipynb
*-checkpoint.tsv
*-checkpoint.fasta
*.pyc
*INTERNAL*
/pipeline/1_search/a_input/protein_overview/*_protein_overview.tsv
/pipeline/1_search/a_input/protein_overview/*_input_search.tsv
/pipeline/1_search/b_assess_annotated/structure_prediction
/pipeline/1_search/b_assess_annotated/structure_comparison/foldseek_in
/pipeline/1_search/b_assess_annotated/structure_comparison/foldseek_out
/pipeline/1_search/b_assess_annotated/structure_comparison/output_processed
/pipeline/1_search/b_assess_annotated/investigate_early_starts/structure_prediction
/pipeline/1_search/b_assess_annotated/investigate_early_starts/structure_comparison
/pipeline/1_search/c_assess_unknown/proteins_cluster
/pipeline/1_search/c_assess_unknown/structure_prediction
/pipeline/1_search/c_assess_unknown/investigate_nans
/pipeline/1_search/c_assess_unknown/structure_comparison
/pipeline/1_search/modelarchive
/pipeline/1_search/modelarchive.zip
/pipeline/2_characterization/a_overview/structure_clustering
/pipeline/2_characterization/*/*.svg
/pipeline/3_map/a_FLAMS/data
/pipeline/3_map/b_conservation/align
/pipeline/3_map/b_conservation/compare
/pipeline/3_map/b_conservation/lovis4u/full_genomes
/pipeline/3_map/b_conservation/lovis4u/gb
/pipeline/3_map/b_conservation/lovis4u/map_region
/pipeline/3_map/d_MetK/*.svg
/pipeline/3_map/transcriptomics_analysis/input/sra_fetch.slurm
/pipeline/3_map/transcriptomics_analysis/txome_pipeline.slurm
pipeline/3_map/transcriptomics_analysis/output/alignments/SRR*_sorted.bam*
pipeline/3_map/transcriptomics_analysis/output/alignments/SRR*.hisat2.summary.log
/pipeline/3_map/transcriptomics_analysis/output/cutadapt
/pipeline/3_map/transcriptomics_analysis/output/fastQC
